# virtual environment files
venv/

# vscode cache files
.vscode/

# django python cache files
__pycache__/

# test.json file (센서로부터 값을 가져올 때 사용)
test.json

# migrations file
migrations/

# database file (자주 바뀌어서 현재 레포지에 올라간 데이터베이스를 기본으로 삼고, 더 이상의 수정사항은 올리지 않음)
MYdatabase.sqlite3

# exporting result files
.csv