{% extends 'base.html' %}
{% load static %}

{% block titlename %}
<title>MainPage</title>
{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" defer></script>
<script src="https://cdnjs.com/libraries/Chart.js"></script>
<script src="{% static 'js/dashboard-chart.js' %}"></script>
<style>
  td[s_status="BR"] {
    color: red;
  }
  td[s_status="TE"] {
    color: purple;
  }
  td[s_status="OP"] {
    color: green;
  }
  td[s_status="WN"] {
    color: orange;
  }
</style>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <h2>DIMS</h2>
  <h6>Dongguk university IoT Device Monitoring System</h6>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h5> </h5>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">
          <span data-feather="printer"></span>
          Print
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#exportModal">
          <span data-feather="file-text"></span>
          Export to file
        </button>
        <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModal"
          aria-hidden="true">
          <div class="modal-dialog" role="document" style="max-width:100%;width=auto;display:table;">
            <div class="modal-content">
              <div class="modal=header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h1 class="modal-title" id="exportModallabel"> Export to File!</h1>
              </div>
              <div class="modal-body">
                <p>
                <h3>Export complete, download into CSV File</h3>
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"
                  onclick=" location.href='{% url 'export_file_dashboard' %}';">Download</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="table-responsive">
      {% load django_tables2 %}
      {% render_table table %}
      <div class="modal fade" id="chartModal" tabindex="-1" role="dialog" aria-labelledby="chartModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="chartModalLabel">센서 이름</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <canvas id="temp_chart"></canvas>
              <canvas id="humid_chart"></canvas>
              <canvas id="illum_chart"></canvas>
              <canvas id="rador_chart"></canvas>
              <canvas id="co2_chart"></canvas>
              <canvas id="tvoc_chart"></canvas>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>


{% endblock %}