<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
<script type="text/javascript">
    (function() {
      emailjs.init("user_JSZzj8Ox3PwAOIhCx7qOU");
    })();
    var link = location.pathname;
    var sensors_list = {{sensor_list|safe}};
    var email_list = {{ to_emails | safe }}
    var today = new Date();   
  
    var year = today.getFullYear(), // 년도
     month = today.getMonth() + 1,  // 월
     date = today.getDate(),  // 날짜
     day = today.getDay(),  // 요일
     hours = today.getHours(), // 시
     minutes = today.getMinutes(),  // 분
     seconds = today.getSeconds();  // 초

    for(var i = 0, len = sensors_list.length; i < len; i++){
      if(sensors_list[i]['sensor_status']=='WN'){
        sensors_list[i]['sensor_status']='warning'
      }
    }
    var time = year + '/' + month + '/' + date+' '+hours + ':' + minutes + ':' + seconds
    var mail_messages = '<i>';
  
    for(var i = 0, len = sensors_list.length; i <len; i++){
      var message = "Sensor code : "+sensors_list[i]['sensor_code'] +'<br>'
        +'Sensor status : '+sensors_list[i]['sensor_status'] +'<br>'
        +'Reported time : ' + time +'<br>'+'--------<br>';
      mail_messages += message;
    }
    mail_messages +='<i>';

    for(var i = 0, len = email_list.length; i<len; i++){
      var emailC = {
              from_name : 'Team Generator',
              message: mail_messages,
              to_email : email_list[i],
      }
      emailjs.send("TeamGenerator","MyTemplate_001",emailC)
      .then(function(response) {
            console.log("SUCCESS. status=%d, text=%s", response.status, response.text);
        }, function(err) {
            console.log("FAILED. error=", err);
        });
    }
  </script>