{% extends 'base.html' %}
{% load static %}

{% block titlename %}
<title>Floor Log Table</title>
{% endblock %}

{% block content %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cef0c647cfe8c88cf78563dab9b303bd"></script>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <h2>DIMS</h2>
  <h6>Dongguk university IoT Device Monitoring System</h6>
  {%for b in bname %}
  {%for lev in level_info %}
    <h3> {{b.building_name}} - {{lev.level_num}} </h3>
  {%endfor%}
  {%endfor%}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h5> </h5>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">
          <span data-feather="printer"></span>
          Print
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#exampleModal">
          <span data-feather="file-text"></span>
          Export to file
        </button>
        <div class = "modal fade" id = "exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document" style="max-width:100%;width=auto;display:table;">
            <div class="modal-content">
              <div class="modal=header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="exampleModalLabel"> Export to File!</h3>
              </div>
              <div class="modal-body">
                <div class="table-responsive" name="modalTable">
                  Export it or Make File!
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick=" location.href='{% url 'export_file_dashboard' %}';" >Export</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#Minimap">Minimap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Logtable">Logtable</a>
      </li>
    </ul>
    <div class="tab-content "> 
      <div class="tab-pane fade show active" id="Minimap">
        <div id="map" style="width:790px;height:440px;">
        </div>
        <div>
          <p id="MyResult"></p>
        </div>
      </div>
      <div class="tab-pane fade " id="Logtable">
        <style>
            table {
                width: 100%;
                border-top: 1px solid #444444;
                border-collapse: collapse;
            }

            th,
            td {
                border-bottom: 1px solid #444444;
                padding: 10px;
            }
            .info {
              font-size: 12px;
              padding: 5px;
            }
            .info .title {
              font-weight: bold;
            }
        </style>
        <table>
            <thead>
                <tr>
                    <th>Sensor_model</th>
                    <th>Sensor_code</th>
                    <th>Sensor_type</th>
                    <th>Updated_time</th>
                    <th>Sensor_status</th>
                </tr>
            </thead>
            <tbody>
                {%for s in sensor%}
                <tr>
                    <td> {{s.sensor_model}}</td>
                    <td> {{s.sensor_code}}</td>
                    <td> {{s.sensor_model.sensor_type}}</td>
                    <td> {{s.updated_time}}</td>
                    <td> {{s.sensor_status}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
  </div>

<script>
//층 정보
const levels= {{levels|safe}};
var path;//층 약도 이미지 path
path = levels['img_file_path'];
//센서 정보
const sensor_info = {{sensor_info|safe}};
var customOverlay = new kakao.maps.CustomOverlay({});
var infowindow = new kakao.maps.InfoWindow({removable: true});

var plan = function() {
    return path;
};
//커스텀 타일셋 지정 후 지도 생성
kakao.maps.Tileset.add( 'PLAN',
        new kakao.maps.Tileset(
            800, 450, plan, '', false, 0, 5 ) );

var mapContainer = document.getElementById('map'),
mapOption = {
    projectionId: null,
    mapTypeId: kakao.maps.MapTypeId.PLAN,
    $scale: false,
    center: new kakao.maps.LatLng(33.4502881187757 , 124.89947201991957),
    level: 5,
    draggable: false,
    disableDoubleClickZoom: true,
    keyboardShortcuts : false,
}
var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
// 지도 클릭하면 좌표 표시하는 리스너
// kakao.maps.event.addListener(map, 'click', function(mouseEvent) {        
//     // 클릭한 위도, 경도 정보를 가져옵니다 
//     var latlng = mouseEvent.latLng;
    
//     var message = '클릭한 위치의 위도는 ' + latlng.getLat() + ' 이고, ';
//     message += '경도는 ' + latlng.getLng() + ' 입니다';
//     message += '\n '+map.getCenter();
    
//     var resultDiv = document.getElementById('MyResult'); 
//     resultDiv.innerHTML = message;
    
// });


//센서를 나타내는 커스텀 마커 오브젝트 생성
for (var i = 0, len = sensor_info.length; i < len; i++) {
    displaySensors(sensor_info[i]);
}
function displaySensors(sensor){
  
  var imageSrc,//커스텀마커 이미지 주소
    imageSize,//마커 이미지 크기
    imageOption,//마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
    markerImage, // 커스텀마커 이미지
    markerPosition // 마커가 표시될 위치입니다
  //센서 상태 고장일 때   
  if(sensor['sensor_status']=='BR'){ 
    imageSrc = '/static/img/BR.png'; 
    imageSize = new kakao.maps.Size(10, 10);
    imageOption = {offset: new kakao.maps.Point(5, 5)};
    markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);
    markerPosition = new kakao.maps.LatLng(sensor['position_x'], sensor['position_y']); 
  }
  // 센서 상태가 정상작동일 때 
  else if(sensor['sensor_status']=='OP'){ 
    imageSrc = '/static/img/OP.png';  
    imageSize = new kakao.maps.Size(10, 10); 
    imageOption = {offset: new kakao.maps.Point(5, 5)}; 
    markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);
    markerPosition = new kakao.maps.LatLng(sensor['position_x'], sensor['position_y']);
  }
  //센서가 위험상황일 때
  else if(sensor['sensor_status']=='WN'){ 
    imageSrc = '/static/img/WN.png';  
    imageSize = new kakao.maps.Size(10, 10); 
    imageOption = {offset: new kakao.maps.Point(5, 5)}; 
    markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);
    markerPosition = new kakao.maps.LatLng(sensor['position_x'], sensor['position_y']);
  }
  var marker = new kakao.maps.Marker({
    position: markerPosition, 
    image: markerImage // 마커이미지 설정 
  }); 
  marker.setMap(map); 
  
  //센서 위에 마우스 올리면 센서 정보 표시용 인포 윈도우 생성
  kakao.maps.event.addListener(marker, 'mouseover', function(mouseEvent) {
    var content = '<div class="info">' + 
                    '  <div class="title">' + sensor['sensor_code'] + '</div>' +
                    '  <div>Sensor status : '+ sensor['sensor_status']+ '</div>';

    infowindow.setContent(content); 
    infowindow.open(map,marker);
  });


  //원에 mouseout이벤트를 등록하고 이벤트가 발생하면 인포윈도우 삭제
  kakao.maps.event.addListener(marker, 'mouseout', function() {
      infowindow.close();
  }); 
}

</script>
</main>


{% endblock %}