{% extends 'base.html' %}
{% load static %}

{% block titlename %}
<title>Floor Log Table</title>
{% endblock %}

{% block content %}
<!--
  https://ssungkang.tistory.com/entry/Django-%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B2%A0%EC%9D%B4%EC%8A%A4-%EC%A1%B0%ED%9A%8C-queryset
  https://velog.io/@hwang-eunji/backend-django-%EC%A0%95%EC%B0%B8%EC%A1%B0-%EB%8D%B0%EC%9D%B4%ED%84%B0-%EA%B0%80%EC%A0%B8%EC%98%A4%EA%B8%B0
  https://newbiecs.tistory.com/150
  https://tutorial.djangogirls.org/ko/dynamic_data_in_templates/
  check this out! 
-->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1bd90974e42765b06b5318db688bc0f0"></script>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <h2>DIDMS</h2> 
  <h6>Dongguk university IoT Device Monitoring System</h6>
  {%for b in bname %}
  {%for lev in level_info %}
    <h3> {{b.building_name}} - {{lev.level_num}} </h3> 
  {%endfor%}
  {%endfor%}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h5> </h5> 
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">
          <span data-feather="printer"></span>
          Print
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#exampleModal">
          <span data-feather="file-text"></span>
          Export to file
        </button>
        <div class = "modal fade" id = "exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document" style="max-width:100%;width=auto;display:table;">
            <div class="modal-content">
              <div class="modal=header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="exampleModalLabel"> Export to File!</h3>
              </div>
              <div class="modal-body">
                <div class="table-responsive" name="modalTable">
                  Export it or Make File!
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick=" location.href='{% url 'export_file_dashboard' %}';" >Export</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#Logtable">Logtable</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Minimap">Minimap</a>
      </li>
    </ul>
    <div class="tab-content ">
      <div class="tab-pane fade show active" id="Logtable">
          <style>
              table {
                  width: 100%;
                  border-top: 1px solid #444444;
                  border-collapse: collapse;
              }

              th,
              td {
                  border-bottom: 1px solid #444444;
                  padding: 10px;
              }
          </style>
          <table>
              <thead>
                  <tr>
                      <th>Sensor_name</th>
                      <th>Sensor_code</th>
                      <th>Sensor_type</th>
                      <th>Updated_time</th>
                      <th>Sensor_status</th>
                  </tr>
              </thead>
              <tbody>
                  {%for s in sensor%}
                  <tr>
                      <td> {{s.sensor_name}}</td>
                      <td> {{s.sensor_code}}</td>
                      <td> {{s.sensor_type}}</td>
                      <td> {{s.updated_time}}</td>
                      <td> {{s.sensor_status}}</td>
                  </tr>
                  {%endfor%}
              </tbody>
          </table>
      </div>
      <div class="tab-pane fade" id="Minimap">
        <div id="map" style="width:790px;height:440px;"></div>
      </div>
    </div>
  </div>

{% comment %} map script {% endcomment %}
{% comment %} 
{%for l in level_info%}
{%for b in bname%}
<img src= {{l.img_file_path}} class="img-fluid" alt={{b.building_name}}{{l.level_num}}>
{%endfor%}
{%endfor%} 
{% endcomment %}
<script>
const levels= {{levels|safe}};
console.log(levels);
var path;
path = levels['img_file_path'];
console.log(path);

var plan = function() {
    return path;
};

kakao.maps.Tileset.add( 'PLAN',
        new kakao.maps.Tileset(
            800, 450, plan, '', false, 0, 5 ) );
var node = document.getElementById( 'map' );
var map = new kakao.maps.Map( node, {
    projectionId: null,
    mapTypeId: kakao.maps.MapTypeId.PLAN,
    $scale: false,
    center: new kakao.maps.Coords( 400, -220 ),
    level: 5,
    draggable: false,
    disableDoubleClickZoom: false,
    keyboardShortcuts : false,
} );
</script>
</main>


{% endblock %}