{% load static %}
<html>
    <head>
        <title>Log List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="{% static 'css/logtable.css' %}" />
    </head>
    <body>  
        <div>
            <h1>Administration Page</h1>
        </div>
        <div>
            {% load django_tables2 %} 
            {% render_table table %}
        </div>
    </body>
</html>