{% extends 'base.html' %}
{% load static %}

{% block titlename %}
<title>Monitoring</title>
{% endblock %}

{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  
<!-- 
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Monitoring Table</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                        <span data-feather="check-circle"></span>
                        Process Checked
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                        <span data-feather="trash"></span>
                        Delete Checked
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#exampleModal">
                        <span data-feather="file-text"></span>
                        Export to File
                    </button>
                    <div class = "modal fade" id = "exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document" style="max-width:100%;width=auto;display:table;">
                          <div class="modal-content">
                            <div class="modal=header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              <h3 class="modal-title" id="exampleModalLabel"> Export to File!</h3>
                            </div>
                            <div class="modal-body">
                              <div class="table-responsive" name="modalTable">
                                {% load django_tables2 %}
                                {% render_table table %}
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary" onclick=" location.href='{% url 'export_file_monitoring' %}';" >Export</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>

            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    <span data-feather="skip-forward"></span>
                    Process All
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    <span data-feather="trash-2"></span>
                    Delete All
                </button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        {% load django_tables2 %}
        {% render_table table %}
    </div> -->
</main>

{% endblock %}