{% extends 'base.html' %}
{% load static %}

{% block titlename %}
<title>Monitoring</title>
{% endblock %}

{% block content %}

<script>
  function monitoringDeleteHandler(item) {
    var pid = item.parentNode.id;
    var sensor_code = pid.substring(7);
    document.getElementById("deleteModalLabel").innerHTML = "Delete " + sensor_code;
    document.getElementById("deleteModalBodyLabel").innerHTML = "<p>Are you sure you want to delete this row?</p>";

    var url = "sme20u/" + sensor_code + "/delete";
    var new_attribute = "location.href=\"" + url + "\"";
    document.getElementById('delete-confirm').setAttribute("onclick", new_attribute);
  }

  function monitoringAllDeleteHandler(item) {
    document.getElementById("deleteModalLabel").innerHTML = "Delete All Sensors";
    document.getElementById("deleteModalBodyLabel").innerHTML = "<p>Are you REALLY sure you want to delete all rows?</p>";
    document.getElementById('delete-confirm').setAttribute("onclick", "location.href='{% url 'monitoring_delete_allrows' %}'");
  }
</script>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Monitoring Table</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary" id="kakao-link-btn" onclick= "location.href = 'javascript:sendLink()'">
            <span data-feather="message"></span>
            Send Kakaotalk Message
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary" id = "sendEmail">
            <span data-feather="mail"></span>
            Send Email
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"
            data-target="#exportModal">
            <span data-feather="file-text"></span>
            Export to File
          </button>
          <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document" style="max-width:100%;width=auto;display:table;">
              <div class="modal-content">
                <div class="modal=header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h1 class="modal-title" id="exportModallabel"> Export to File!</h1>
                </div>
                <div class="modal-body">
                  <p><h3>Export complete, download into CSV File</h3></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary"
                    onclick=" location.href='{% url 'export_file_monitoring' %}';">Export</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">
          <span data-feather="skip-forward"></span>
          Process All
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="monitoringAllDeleteHandler(this)"
          data-toggle="modal" href="#deleteModal"">
          <span data-feather='trash-2'></span>
          Delete All
        </button>
      </div>
    </div>
  </div>
  <div class=" table-responsive">
          {% load django_tables2 %}
          {% render_table table %}
          <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id="deleteModalBodyLabel">
                  Modal body
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" id="delete-confirm">Confirm</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
      </div>
</main>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="text/javascript" >
  // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
  Kakao.init('cef0c647cfe8c88cf78563dab9b303bd');
  // SDK 초기화 여부를 판단합니다.
  console.log(Kakao.isInitialized());
  
  var link = location.pathname;
  var sensors_list;
  var warning_list = new Array();

  var today = new Date();   

  var year = today.getFullYear(), // 년도
   month = today.getMonth() + 1,  // 월
   date = today.getDate(),  // 날짜
   day = today.getDay(),  // 요일
   hours = today.getHours(), // 시
   minutes = today.getMinutes(),  // 분
   seconds = today.getSeconds();  // 초

  if(link=="/monitoring") {
    sensors_list = {{ sensor_list|safe }};
  }
  for(var i = 0, len = sensors_list.length; i < len; i++){
    if(sensors_list[i]['sensor_status']=='WN'){
      sensors_list[i]['sensor_status']='warning'
      warning_list.push(sensors_list[i]);
    }
  }
  Kakao.Link.createDefaultButton({
    container: '#create-kakao-link-btn',
    objectType: 'text',
    text : 'Emergency! It\'s not working properly!',
    link : {
      webUrl: 'http://ec2-54-158-177-31.compute-1.amazonaws.com/monitoring',
      androidExecParams: 'test',
    },
  });
  function sendLink() {
    for(var i = 0, len = warning_list.length; i <len; i++){
      if(warning_list[i]['sensor_status']=='WN')
      var status ='Warning'
      Kakao.Link.sendDefault({
      objectType: 'text',
      text : 'Emergency! '+ warning_list[i]['sensor_code']+'\'s not working properly!\n'
      +'Sensor status : '+ status +'\n'
      +'Report time : ' + year + '/' + month + '/' + date+' '
      +hours + ':' + minutes + ':' + seconds,
      link : {
        webUrl: 'http://ec2-54-158-177-31.compute-1.amazonaws.com/monitoring',
        androidExecParams: 'test',
      },
    });
    }
  };
</script>
<script type="text/javascript">
  var link = location.pathname;
  var sensors_list;
  var warning_list = new Array();

  var today = new Date();   

  var year = today.getFullYear(), // 년도
   month = today.getMonth() + 1,  // 월
   date = today.getDate(),  // 날짜
   day = today.getDay(),  // 요일
   hours = today.getHours(), // 시
   minutes = today.getMinutes(),  // 분
   seconds = today.getSeconds();  // 초

  if(link=="/monitoring") {
    sensors_list = {{sensor_list|safe}};
  }

  for(var i = 0, len = sensors_list.length; i < len; i++){
    if(sensors_list[i]['sensor_status']=='WN'){
      sensors_list[i]['sensor_status']='warning'
      warning_list.push(sensors_list[i]);
    }
  }
  var time = year + '/' + month + '/' + date+' '+hours + ':' + minutes + ':' + seconds
  var mail_messages = '<i>';

  for(var i = 0, len = warning_list.length; i <len; i++){
    var message = "Sensor code : "+warning_list[i]['sensor_code'] +'<br>'
      +'Sensor status : '+warning_list[i]['sensor_status'] +'<br>'
      +'Reported time : ' + time +'<br>'+'--------<br>';
    mail_messages += message;
  }
  mail_messages +='<i>';
  var emailC = {
            from_name : 'Team Generator',
            message: mail_messages,
            to_email : 'woojoo1602@gmail.com'
  }
  document.getElementById('sendEmail')
  .addEventListener('click', function(event) {
    event.preventDefault();
    emailjs.send("TeamGenerator","MyTemplate_001",emailC)
     .then(function(response) {
          console.log("SUCCESS. status=%d, text=%s", response.status, response.text);
          alert('Email sent successfully!');
       }, function(err) {
          console.log("FAILED. error=", err);
       });
  });
</script>

{% endblock %}