{% extends 'base.html' %}
{% load static %}

{% block titlename %}
<title>Monitoring</title>
{% endblock %}

{% block content %}

<script>
  function monitoringDeleteHandler(item) {
    var pid = item.parentNode.parentNode.getAttribute("log_id");
    document.getElementById("deleteModalLabel").innerHTML = "Delete Log " + pid;
    document.getElementById("deleteModalBodyLabel").innerHTML = "<p>Are you sure you want to delete this row?</p>";

    var url = "monitoring/delete/" + pid;
    var new_attribute = "location.href=\"" + url + "\"";
    document.getElementById('delete-confirm').setAttribute("onclick", new_attribute);
  }

  function monitoringAllDeleteHandler(item) {
    document.getElementById("deleteModalLabel").innerHTML = "Delete All Sensors";
    document.getElementById("deleteModalBodyLabel").innerHTML = "<p>Are you REALLY sure you want to delete all rows?</p>";
    document.getElementById('delete-confirm').setAttribute("onclick", "location.href='{% url 'monitoring_delete_allrows' %}'");
  }
</script>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Monitoring Table</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary" onclick = "location.href='javascript:sendText()'" >
            <span data-feather="message"></span>
            send Kakaotalk
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"
            data-target="#exportModal">
            <span data-feather="file-text"></span>
            Export to File
          </button>
          <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document" style="max-width:100%;width=auto;display:table;">
              <div class="modal-content">
                <div class="modal=header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h1 class="modal-title" id="exportModallabel"> Export to File!</h1>
                </div>
                <div class="modal-body">
                  <p><h3>Export complete, download into CSV File</h3></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary"
                    onclick=" location.href='{% url 'export_file_monitoring' %}';">Export</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">
          <span data-feather="skip-forward"></span>
          Process All
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="monitoringAllDeleteHandler(this)"
          data-toggle="modal" href="#deleteModal">
          <span data-feather='trash-2'></span>
          Delete All
        </button>
      </div>
    </div>
  </div>
  <div class=" table-responsive">
          {% load django_tables2 %}
          {% render_table table %}
          <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id="deleteModalBodyLabel">
                  Modal body
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" id="delete-confirm">Confirm</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
      </div>
</main>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="text/javascript" >
  Kakao.init('cef0c647cfe8c88cf78563dab9b303bd');

  var link = location.pathname;
  

  var today = new Date();   

  var year = today.getFullYear(), // 년도
   month = today.getMonth() + 1,  // 월
   date = today.getDate(),  // 날짜
   day = today.getDay(),  // 요일
   hours = today.getHours(), // 시
   minutes = today.getMinutes(),  // 분
   seconds = today.getSeconds();  // 초

  var time = year + '/' + month + '/' + date+' '+hours + ':' + minutes + ':' + seconds
  var text_message = 'Report status has been changed, Check it out\n Reported time : ' + time +'\n'+'';

  function sendText(){
    Kakao.API.request({
      url: '/v2/api/talk/memo/default/send',
      data: {
        template_object:{
          object_type: "text",
          text: text_message,
          link: {
              "web_url": "http://ec2-18-206-198-8.compute-1.amazonaws.com/monitoring",
              "mobile_web_url": "http://ec2-18-206-198-8.compute-1.amazonaws.com/monitoring"
          },
          button_title: "Check it out"
        },
      },
      success: function(response) {
        console.log(response);
      },
      fail: function(error) {
        console.log(error);
      },
    });
  };
</script>
{% endblock %}